   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    body{
        margin: 0 auto;
        background: #b9b9b9;
    }

    .wrapper{
        margin: 5rem auto 0 auto;
        border-radius: 30px;
        width: 25rem;
        height: 50rem;
        padding: 01rem;
        background: #000;
        position: relative;
    }
    .main{
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        width: 100%;
        border-radius: 20px;
        height: 100%;
        background: #d4d4d4;
        position: relative;
        overflow: hidden;

    }
    .iphone{
        position: absolute;
        top: 0;
        right: 29%;
        margin: 0 auto;
        background: #000;
        width: 10rem;
        height: 40px;
        z-index: 4;
        border-radius: 0 0 18px 18px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px 15px;
    }

    .iphone div{
        width: 14px;
        height: 14px;
        background: #696868;
        border-radius: 50%;
    }

    .iphone .camera1{
        background: #bebcbc;
        width: 40px;
        height: 15px;
        border-radius: 20px;
    }
    
    .addbtn{
        padding: 10px;
        position: absolute;
        bottom: 3%;
        right: 5%;
        width: 3rem;
        height: 3rem;
        background: black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        transition: ease all 0.4s;
        z-index: 4;
    }
    .addbtn:hover{
        transform: translateY(-10px);
        box-shadow: 1px 3px 20px #000;
    }

    .first{
        height: 4px;
        width: 100%;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .first:last-child{
        transform: rotate(90deg);
    }

    .adder{
        position: relative;
        width: 100%;
    }

    .todowrapper{
        position: absolute;
        top: 40;
        width: 100%;
        margin: 0 auto;
        display: none;
        align-items: center;
        justify-content: center;
        background: #0000002f;
        backdrop-filter: blur(3px);
        height: 100%;
        transition: ease-in-out all 500ms;
        z-index: 1;
    }

    .profile{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid #7a7a7a;
    }

    .profile img{
        width: 100%;
        transition: ease all 0.3s;
    }

    .profile img:hover{
        transform: scale(1.1);
    }

    .toder{
        display: none;
    }

    .todoList{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80%;
        background: #333232;
        padding: 10px;
        border-radius: 10px;
    }

    #todoList{
        max-height: 55vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .todoList input{
        padding: 1rem 0.6rem;
        background: transparent;
        border: none;
        
    }

    input{
        color: white;
        outline: none;
        font-size: 15px;
    }

    .todoList button{
        padding: 0.6rem;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 600;
        background: #817c7c;
        transition: all ease 0.2s;
    }
    
    .todoList button:hover{
        background: #575454;
        
    }

    .font h2{
        font-size: 24px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .content{
        display: flex;
        width: 95%;
        margin: 0 auto;
        gap: 1rem;
        align-items: center;
        background: #d4d4d4;
        padding: 10px;
        height: max-content;
        border-radius: 20px;
        margin-top: 4rem;
        box-shadow: 0px 0px 3px #727272;
    }
p
    .content h2{
        color: white;
        font-size: 20px;
    }
    
    #todos h2{
        padding: 7px 0;
        border-bottom: solid 1px;
        font-weight: 700;
    }

    #todos{
        display: flex;
        width: 95%;
        margin: 0 auto;
        padding: 10px;
        background: #e9e9e9;
        border-radius: 10px;
        flex-direction: column;
        box-shadow: 0px 0px 3px #727272;box-shadow: 0px 0px 3px #727272;
    }

    li{
        margin-top: 15px;
        list-style:  none;
        padding: 0.8rem;
        /* box-shadow: 1px 1px 4px #4d4d4d; */
        background: #fffdfd;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all ease 0.3s;
        animation-name: anim;
    animation-duration: 2s;
    animation-direction: alternate;
        transition: all ease-in-out 1s;
    }

    @keyframes anim{
        from{
            transform: translateY(-10%);
            opacity: 0;
        }
        to{
            transform: translateY(0%);
            opacity: 1;
        }
    }

    li:hover{
        transform: translateY(-5px);
        box-shadow: 0px 0px 6px #706f6f;
    }
    li::before{
        content: "✔";
        margin: 0;
        background: #817c7c;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span{
        float: right;
        padding: 5px;
        background: #575454;
        border-radius: 50%;
        cursor: pointer;
    }

    .checked{
        text-decoration: line-through;
    }
    #toast-danger,
    #toast-success{
        display: none;
        background: #96cab0;
        z-index: 3;
        position: absolute;
        top: 4%;
        padding: 10px;
        border-radius: 6px;
        right: 0;
        left: 0;
        width: 70%;
        margin: 0 auto;
        animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate;
        transition: all ease 1s;
    }

    #toast-danger{
        background: rgba(221, 109, 109, 0.267);
    }
    
    @keyframes anime {
        from{ 
            transform: translateY(-200%);
            opacity: 0;
        }

        to{
            transform: translateY(0%);
            opacity: 1;
        }
    }
     #toast-danger span,
    #toast-success span{
        text-align: center;
        background: none;
        float: none;
        text-wrap:wrap;
    }
     #toast-danger span::before{
         content: "❌";
         margin-right: 8px;
     }
    #toast-success span::before{
        content: "🙌";
        margin-right: 8px;
    }
    #toast-danger span::after,
    #toast-success span::after{
        content: "🔻";
        float: right;
    }

   
    .timer{
        position: absolute;
        bottom: 3%;
        align-items: center;
        left: 4%;
        display: flex;
        padding: 10px;
        border-radius: 10px;        
        background: #aaaaaa;
        gap: 10px;
    }

    .timer p{
        color: white;
    }

    .timer button{
        border-radius: 5px;
        border: none;
        padding: 5px;
        color: white;
        background: #3b3b3b;
    } 

